*{
    background-color:  #f6f5fa;
    margin: 0;
}

.titulo {
    color: #223153;
    font-family: montserrat, sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.texto {
    color: #2f4256;
    font-family: comfortaa, sans-serif;
    font-size: 17px;
    text-align: center;
}

.head:hover{
    color: #3a7edb;

}

.head {
    background-color: #223153;
    color: #f6f5fa;
    font-family: comfortaa, sans-serif;
    font-size: 25px;
}

.img {
    width: 300px;
    height: auto;
    border-radius: 45%;
    padding: 40px;
 
}

.center{
    text-align: center;
}

nav  {
    background-color: #223153;;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

ul {
    list-style: none;
}